@font-face{font-family:"englishextra-ui-icons";src:url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.eot?m2o7ee);src:url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.eot?m2o7ee#iefix) format("embedded-opentype"),url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.svg?m2o7ee#icomoon) format("svg"),url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.woff?m2o7ee) format("woff"),url(../../../fonts/englishextra-ui-icons-fontfacekit/englishextra-ui-icons.ttf?m2o7ee) format("truetype");font-weight:normal;font-style:normal;}
@font-face{font-family:"Exo2";src:url(../../../fonts/exo2-fontfacekit/Exo2Light.eot);src:url(../../../fonts/exo2-fontfacekit/Exo2Light.eot) format("embedded-opentype"), url(../../../fonts/exo2-fontfacekit/Exo2Light.svg#Exo2Light) format("svg"), url(../../../fonts/exo2-fontfacekit/Exo2Light.woff2) format("woff2"), url(../../../fonts/exo2-fontfacekit/Exo2Light.woff) format("woff"), url(../../../fonts/exo2-fontfacekit/Exo2Light.ttf) format("truetype");font-style:normal;font-weight:300;}
@font-face{font-family:"Exo2";src:url(../../../fonts/exo2-fontfacekit/Exo2Regular.eot);src:url(../../../fonts/exo2-fontfacekit/Exo2Regular.eot) format("embedded-opentype"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.svg#Exo2Regular) format("svg"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.woff2) format("woff2"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.woff) format("woff"), url(../../../fonts/exo2-fontfacekit/Exo2Regular.ttf) format("truetype");font-style:normal;font-weight:400;}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
/*!
 * custom
 */
html {
	font-size: 100%;
}
html,
body {
	height: 100%;
}
body {
	font-family: "Exo2","Segoe UI",sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.500;
	width: 100%;
	color: #363636;
	background-color: #383838;
	/* scroll-behavior: smooth; */
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-text-size-adjust: none;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	/* user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none; */
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
a:hover,
a:active,
a:focus {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
}
p:first-child {
	margin-top: 0;
}
p:last-child {
	margin-bottom: 0;
}
b,
strong,
.bolder {
	font-weight: bold;
}
i,
em,
.italic {
	font-style: italic;
}
u,
.underline {
	text-decoration: underline;
}
*,*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class^="fa-"],[class*=" fa-"] {
	font-style: normal;
	font-family: "FontAwesome" !important;
	-webkit-font-smoothing: antialiased;
}
::selection {
	color: #FFFFFF;
	background: #56A9FF;
}
::-moz-selection {
	color: #FFFFFF;
	background: #56A9FF;
}
/* * {
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
} */
/*!
 * clearfix css-tricks.com/snippets/css/clear-fix/
 */
.cf:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .cf { zoom: 1; } /* IE6 */
*:first-child+html .cf { zoom: 1; } /* IE7 */
/*!
 * fix fontawesome
 */
i.fa {
	font-style: normal;
}
table.respond {
	width: auto;
}
/*!
 * fix for tranquil-heart.css google-prettify theme
 */
ol.linenums {
	margin: 0 0 0 3.000em !important;
}
/*!
 * fit width
 */
.fit-width {
	min-width: 100%;
}
/*!
 * hide on mobile
 */
@media handheld,only screen and (max-width:767px) {
	.hide-on-mobile {
		display: none !important;
		width: 0;
		height: 0;
	}
}
/*!
 * github.com/lukehaas/css-loaders
 * projects.lukehaas.me/css-loaders/
 * size of a loader dependent on font size
 */
.data-loading .data-loading {
	font-size: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -5em 0 0 -5em;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(211,211,211,0.5);
	border-right: 1.1em solid rgba(211,211,211,0.5);
	border-bottom: 1.1em solid rgba(211,211,211,0.5);
	border-left: 1.1em solid rgba(25,25,25,0.5);
	z-index: 999999;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.data-loading .data-loading,
.data-loading .data-loading:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
/*!
 * layout
 */
.page {
	width: 100%;
	position: relative;
	left: 0;
}
.page.active {
	position: relative;
	left: 280px;
}
.container {
	width: 100%;
	height: 100%;
	position: relative;
	top: 33.000pt;
	margin: 0 auto;
	padding: 0;
}
/*!
 * navigation
 */
.page,
.panel-nav-menu,
.btn-nav-menu {
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}
.panel-nav-menu,
.panel-nav-menu li {
	position: relative;
}
.panel-nav-menu {
	display: block;
	width: 280px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	font-size: 0.875em;
	line-height: 3.143em;
	list-style: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #2E2E2E;
	padding: 0;
	margin: 0;
	margin-left: -280px;
	z-index: 998;
}
.panel-nav-menu li {
	font-weight: 300;
	padding: 0;
	margin: 0;
}
.panel-nav-menu li a {
	display: block;
	text-decoration: none;
	white-space: normal;
	white-space: nowrap;
	color: #FFFFFF;
	border: none;
	padding: 0 1.143em;
}
.panel-nav-menu li a:hover,
.panel-nav-menu li a:focus {
	background: #464646;
}
.panel-nav-menu li a.active {
	background: rgba(30,77,125,1);
}
.panel-nav-menu li a:before {
	font-family:"englishextra-ui-icons";
	content: "\e918\00a0\00a0";
	font-size: 0.875em;
}
.btn-nav-menu {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 999;
}
.btn-nav-menu:hover {
	background-color: rgba(66,66,66,1);
}
/*!
 * using icon font
 */
.btn-nav-menu {
	text-align: center;
	background: none transparent;
}
.btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e914";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: #FFFFFF;
}
.page.active .btn-nav-menu:before {
	font-family: "englishextra-ui-icons";
	content: "\e90a";
	font-size: 15.000pt;
}
.page.active .panel-nav-menu {
	left: 280px;
	width: 280px;
}
.page.active .btn-nav-menu {
	/*!
	 * position absolute
	 */
	/* left: 0; */
	/*!
	 * position fixed
	 * left: 280px;
	 */
	left: 0;
}
.btn-menu-more {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	left: 33.000pt;
	text-decoration: none;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	cursor: pointer;
	z-index: 999;
}
.btn-menu-more:hover {
	background-color: rgba(66,66,66,1);
}
/*!
 * using icon font
 */
.btn-menu-more {
	text-align: center;
	background: none transparent;
}
.btn-menu-more:before {
	font-family: "englishextra-ui-icons";
	content: "\e915";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: #FFFFFF;
}
.holder-panel-menu-more {
	display: none;
	position: absolute;
	top: 33.000pt;
	left: 33.000pt;
	color: #363636;
	background: #F0F0F0;
	border: 0.750pt solid rgba(45,116,189,1);
	-webkit-box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.5);
	-moz-box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.5);
	box-shadow: 0.125em 0.125em 0.125em 0 rgba(50,50,50,0.3);
	z-index: 9999;
}
.panel-menu-more {
	display: inline-block;
	min-width: 204.000pt;
	width: 100%;
	height: 100%;
	font-size: 0.857em;
	line-height: 1.500;
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.panel-menu-more li a {
	display: block;
	font-weight: 400;
	padding: 0.625em 0.750em;
}
.panel-menu-more li a:hover,
.panel-menu-more li a:active,
.panel-menu-more li a:focus {
	text-decoration: none;
	color: inherit;
	background-color: rgba(190,212,235,1);
}
/*!
 * superbox
 */
.superbox {
	display: block;
	max-width: 100%;
	background-color: transparent;
	opacity: 0;
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
	margin: 0 auto;
}
.superbox:after {
	content: "";
	display: block;
	clear: both;
}
.superbox-list {
	display: inline-block;
	*display: inline;
	zoom: 1;
	vertical-align: top;
}
.superbox-list img {
	display: block;
	width: 100%;
	height: auto;
	-webkit-box-shadow: 0 0.571em 0.286em -0.286em rgba(50,50,50,0.2);
	-moz-box-shadow: 0 0.571em 0.286em -0.286em rgba(50,50,50,0.2);
	box-shadow: 0 0.571em 0.286em -0.286em rgba(50,50,50,0.2);
	opacity: 0.85;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	cursor: pointer;
	padding: 0;
}
.superbox-list img:hover {
	opacity: 1;
}
.superbox-show {
	display: none;
	width: 100%;
	float: left;
	position: relative;
	color: transparent;
	background: #242424;
	box-shadow: inset 0 0.063em 0.313em #232323;
	-webkit-box-shadow: inset 0 0.063em 0.313em #232323;
	-moz-box-shadow: inset 0 0.063em 0.313em #232323;
	margin: 0 auto;
	padding: 2.500em 1.500em 2.750em 1.500em;
}
.superbox-current-desc {
	display: none;
	max-width: 37.500rem;
	color: #FFFFFF;
	margin: 0 auto;
}
.superbox-current-desc h2 {
	display: block;
	font-family: "Exo2","Segoe UI Light",sans-serif;
	font-weight: 300;
	font-size: 1.772rem;/* msBases = [16];msRatios = [1.5,1.1]; */
	line-height: 1.200;
	color: inherit;
	clear: both;
	margin: 0 !important;
}
.superbox-current-desc h2 a {
	font-weight: inherit;
	text-decoration: none;
	color: inherit;
}
.superbox-current-desc p {
	display: block;
	font-weight: 400;
	font-size: 1.000rem;
	line-height: 1.500;
	color: inherit;
}
.superbox-current-desc h2 a:hover,
.superbox-current-desc h2 a:focus,
.superbox-current-desc h2 a:active,
.superbox-current-desc p a:hover,
.superbox-current-desc p a:focus,
.superbox-current-desc p a:active {
	border-bottom-color: inherit;
	border-bottom-style: solid;
	border-bottom-width: 0.750pt;
}
.superbox-float {
	float: left;
}
.superbox-close {
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	right: 0;
	/* background: transparent url(data:image/svg+xml;base64,) no-repeat center center;
	background-size: 33.000pt 33.000pt; */
	opacity: 0.85;
	cursor: pointer;
}
.superbox-close:hover,
.superbox-close:active,
.superbox-close:focus {
	opacity: 1;
}
/*!
 * using icon font
 */
.superbox-close {
	text-align: center;
	background: none transparent;
}
.superbox-close:before {
	font-family: "englishextra-ui-icons";
	content: "\e90a";
	font-size: 15.000pt;
	line-height: 33.000pt;
	color: inherit;
}
.superbox-desc {
	display: none;
}
/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */
/* .portfolio-banner-bd-640x480, .portfolio-banner-behance-640x480, .portfolio-banner-bitbucket-640x480, .portfolio-banner-englishextra-app-640x480, .portfolio-banner-englishextra-github-io-640x480,
.portfolio-banner-github-640x480, .portfolio-banner-instagram-640x480, .portfolio-banner-npm-640x480, .portfolio-banner-serguei-640x480, .portfolio-banner-soundcloud-640x480,
.portfolio-banner-vimeo-640x480, .portfolio-banner-vk-640x480
 */
img[class^="portfolio-banner-"],img[class*=" portfolio-banner-"]{ max-width: 100%; background-size: 100%; background-image: url(../img/sprite.png); }
.portfolio-banner-bd-640x480 { background-position: 0 0%; background-size: 100%; }
.portfolio-banner-behance-640x480 { background-position: 0 9.090909%; background-size: 100%; }
.portfolio-banner-bitbucket-640x480 { background-position: 0 18.181818%; background-size: 100%; }
.portfolio-banner-englishextra-app-640x480 { background-position: 0 27.272727%; background-size: 100%; }
.portfolio-banner-englishextra-github-io-640x480 { background-position: 0 36.363636%; background-size: 100%; }
.portfolio-banner-github-640x480 { background-position: 0 45.454545%; background-size: 100%; }
.portfolio-banner-instagram-640x480 { background-position: 0 54.545455%; background-size: 100%; }
.portfolio-banner-npm-640x480 { background-position: 0 63.636364%; background-size: 100%; }
.portfolio-banner-serguei-640x480 { background-position: 0 72.727273%; background-size: 100%; }
.portfolio-banner-soundcloud-640x480 { background-position: 0 81.818182%; background-size: 100%; }
.portfolio-banner-vimeo-640x480 { background-position: 0 90.909091%; background-size: 100%; }
.portfolio-banner-vk-640x480 { background-position: 0 100%; background-size: 100%; }
/*!
 * other
 */
.container h1 {
	font-family: "Exo2","Segoe UI",sans-serif;
	font-weight: 300;
	line-height: 33.000pt;
	text-align: center;
	white-space: nowrap;
	color: #FFFFFF;
	margin: 0;
}
/*!
 * qr code
 */
.qr-code {
	width: 100%;
	display: block;
	float: left;
	text-align: left;
	background: #FFFFFF;
}
/*!
 * vk-like
 */
.vk-like {
	display: inline-block;
	height: 17.250pt;
	position: absolute !important;
	top: 7.500pt;
	left: 75.000pt;
	line-height: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s,opacity 0.2s linear;
	-moz-transition: visibility 0s,opacity 0.2s linear;
	-o-transition: visibility 0s,opacity 0.2s linear;
	transition: visibility 0s,opacity 0.2s linear;
	z-index: 1000;
}
.btn-show-vk-like {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: absolute;
	top: 0;
	left: 66.000pt;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	background: none transparent;
	border: none;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	z-index: 999;
}
.btn-show-vk-like:hover {
	background-color: rgba(66,66,66,1);
}
.btn-show-vk-like:before {
	font-family: "englishextra-ui-icons";
	content: "\e925";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: #FFFFFF;
}
/*!
 * pluso, yashare
 */
.ya-share2 {
	position: fixed !important;
	right: 41.250pt;
	bottom: 7.500pt;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s,opacity 0.2s linear;
	-moz-transition: visibility 0s,opacity 0.2s linear;
	-o-transition: visibility 0s,opacity 0.2s linear;
	transition: visibility 0s,opacity 0.2s linear;
}
.pluso {
	position: fixed !important;
	right: 0;
	bottom: 0;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s,opacity 0.2s linear;
	-moz-transition: visibility 0s,opacity 0.2s linear;
	-o-transition: visibility 0s,opacity 0.2s linear;
	transition: visibility 0s,opacity 0.2s linear;
}
.btn-block-social-buttons {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: fixed;
	bottom: 0;
	right: 33.000pt;
	text-indent: 0;
	text-align: center;
	text-decoration: none;
	background: none rgba(211,211,211,0.5);
	border: none;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-transition: background 0.2s linear;
	-moz-transition: background 0.2s linear;
	-o-transition: background 0.2s linear;
	transition: background 0.2s linear;
	z-index: 999;
}
.btn-block-social-buttons:hover {
	background-color: rgba(213,213,213,1);
}
.btn-block-social-buttons:before {
	font-family: "englishextra-ui-icons";
	content: "\e91d";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: rgba(25,25,25,0.5);
}
/*!
 * github.com/sksmatt/UItoTop-jQuery-Plugin/
 */
#ui-totop {
	display: inline-block;
	width: 33.000pt;
	height: 33.000pt;
	position: fixed;
	bottom: 0;
	right: 0;
	text-indent: 100%;
	text-decoration: none;
	border: none;
	visibility: hidden;
	opacity: 0;
	overflow: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	z-index: 999;
}
#ui-totop-hover {
	display: block;
	float: left;
	width: 33.000pt;
	height: 33.000pt;
	overflow: hidden;
}
#ui-totop:hover {
	background-color: rgba(213,213,213,1);
}
/*!
 * using icon font
 */
#ui-totop {
	text-indent: 0;
	text-align: center;
}
#ui-totop-hover {
	background: none rgba(211,211,211,0.5);
}
#ui-totop-hover:before {
	font-family: "englishextra-ui-icons";
	content: "\e923";
	font-size: 18.000pt;
	line-height: 33.000pt;
	color: rgba(25,25,25,0.5);
}
/*!
 * retina
 */
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
}
/*!
 * font for mobile
 * iosfonts.com/
 * google.com/design/spec/style/typography.html#typography-language-categorization
 * msdn.microsoft.com/en-us/library/windows/apps/hh202920%28v=vs.105%29.aspx
 */
@media only screen and (max-width: 480px) {
	body {
		font-family: "Segoe UI","Segoe WP","Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
	}
	.panel-nav-menu li,
	.container h1,
	.superbox-current-desc h2 {
		font-family: "Segoe UI SemiLight","Segoe WP SemiLight","Roboto Light","Roboto Lt","HelveticaNeue-Light","Helvetica Neue",sans-serif;
		font-weight: 300;
	}
}
/*!
 * media queries
 */
@media only screen and (max-width: 20em) {
	html {
		font-size: 85.7%;
	}
	.superbox-list {
		width: 100%;
	}
	.container h1 {
		font-size: 0.938rem;
	}
	.superbox-current-desc h2,
	.superbox-current-desc p {
		text-align: left;
	}
}
@media only screen and (min-width: 20.063em) {
	html {
		font-size: 92.2%;
	}
	.superbox-list {
		width: 100%;
	}
	.container h1 {
		font-size: 1.100rem;
	}
	.superbox-current-desc h2,
	.superbox-current-desc p {
		text-align: left;
	}
}
@media only screen and (min-width: 20.063em) and (max-width: 30em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 30.063em) {
	html {
		font-size: 107.1%;
	}
	.container h1 {
		font-size: 1.210rem;
	}
}
@media only screen and (min-width: 30.063em) and (max-width: 40em) {
	html {
		font-size: 107.1%;
	}
}
@media only screen and (min-width: 40.063em) {
	html {
		font-size: 121.4%;
	}
	.superbox-list {
		width: 50%;
	}
	.container h1 {
		font-size: 1.500rem;
	}
	.superbox-current-desc h2,
	.superbox-current-desc p {
		text-align: center;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 50em) {
	html {
		font-size: 121.4%;
	}
}
@media only screen and (min-width: 50.063em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 50.063em) and (max-width: 60em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 60.063em) {
	html {
		font-size: 92.2%;
	}
	.superbox-list {
		width: 33.333%;
	}
	.container h1 {
		width: 100%;
		position: absolute;
		top: -33.000pt;
		left: 99.000pt;
		padding-right: 198.000pt;
	}
}
@media only screen and (min-width: 60.063em) and (max-width: 64em) {
	html {
		font-size: 92.2%;
	}
}
@media only screen and (min-width: 64.063em) {
	html {
		font-size: 100%;
	}
}
/*!
 * specific start
 */
@media only screen and (min-width: 64.063em) and (max-width: 74em) {
	html {
		font-size: 100%;
	}
}
@media only screen and (min-width: 74.063em) {
	html {
		font-size: 100%;
	}
	.superbox-list {
		width: 25%;
	}
}
@media only screen and (min-width: 74.063em) and (max-width: 80em) {
	html {
		font-size: 100%;
	}
}
@media only screen and (min-width: 80.063em) {
	html {
		font-size: 100%;
	}
}
@media only screen and (min-width: 80.063em) and (max-width: 90em) {
	html {
		font-size: 100%;
	}
}
/*!
 * specific end
 */
@media only screen and (min-width: 90.063em) {
	html {
		font-size: 107.1%;
	}
}
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	html {
		font-size: 107.1%;
	}
}
@media only screen and (min-width: 120.063em) {
	html {
		font-size: 114.3%;
	}
}
